<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Day Temp</th>
      <th>Night Temp</th>
      <th>Humidity (Day/Night)</th>
      <th>Wind (Day/Night)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngIf="widgetData$ | async as widgetData">
    <tr *ngFor="let data of widgetData">
      <td>{{ data.id }}</td>
      <td>{{ data.date | date }}</td>
      <td>
        <app-highlight-cell> {{ data.dayTemp }}°C </app-highlight-cell>
      </td>
      <td>{{ data.nightTemp }}°C</td>
      <td>{{ data.dayHumidity }}% / {{ data.nightHumidity }}%</td>
      <td>{{ data.dayWind }} Km/h / {{ data.nightWind }} Km/h</td>
      <td class="action">
        <button (click)="viewWidget(data)">View</button>
      </td>
    </tr>
  </tbody>
</table>
